.recommendedShowContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.recommendedShowHeaderContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.recommendedShowHeader {
  color: bisque;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recommendedShowHeaderText {
  font-size: large;
}

.recommendedShowCardsContainer {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-left: 10%;
  flex-wrap: nowrap;
}
